@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_mainPage.cshtml";
}

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <h3 class="mt-5 main-text">
        ​Inventory management software for growing businesses.
        Increase your sales and keep track of every unit with our powerful stock management, order fulfillment, and inventory control software.
    </h3>
</div>