@using NetMastery.InventoryManager.Models
@model UserViewModel

@{
    ViewBag.Title = "UserForm";
    Layout = null;
}

<div class="row w-100">
    <div class="col-4">

    </div>
    <div class="col-6">

    </div>
    <div class="col-2">
        <div>
            <a class="btn btn-success" href="@Url.Action("Add","User")">Add New</a>
        </div>
        <div>

                <div>
                    @Html.ActionLink("Update", "Update", "User", null, new { @class = "btn btn-warning" })
                </div>
                <div>
                    @Html.ActionLink("Delete", "Delete", "User", null, new { @class = "btn btn-warning" })
                </div>

        </div>
    </div>
</div>

