.bgimg {
    background-image: url('../imgs/background.jpg');
    
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-login {
    background-image: url('../imgs/LoginBG.jpg');
    height: 100%;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
}
.logofont {
    color:red;
    font: bold;
    font-family: 'MS Gothic';
}

.containerCustom {
    display: flex;
    justify-content: center;
    align-items: center;
}