.bgimg {
    display: table;
    z-index: 1;
    background: url(../imgs/background.jpg);
    z-index: -1;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

html,
body {
    width: 100%;
    height: 100%;
}

.cover-container {
    max-width: 42em;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-height: 800px;
    width: auto;
}

.main-body {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-main .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-main .nav-link:hover,
.nav-main .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.brand-main {
    color: rgb(255, 255, 255);
    font-size: larger;
    font-weight: 700;
}

.nav-main .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    font-size: larger;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-main .active {
    color: #fff;
    border-bottom-color: #fff;
}

.main-text {
    font-stretch: expanded;
    padding: .5rem 0;
    font-weight: 500;
    font-size: 24px;
    color: rgb(255, 255, 255);
    background-color: transparent;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: lightslategrey;
}

.error-text {
    font-weight: 500;
    font-size: 18px;
    color: lightcoral;
}

p.form-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 4px;
}

form.login {
    width: 250px;
    margin: 0 auto;
}

    form.login .user-name,
    form.login .password {
        width: 100%;
        margin: 0;
        padding: 5px 10px;
        background: 0;
        border: 0;
        border-bottom: 1px solid #FFFFFF;
        outline: 0;
        font-style: italic;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 1px;
        margin-bottom: 5px;
        color: #ffffff;
        outline: 0;
    }

input[type="text"].user-name::-webkit-input-placeholder {
    color: pink;
    font-weight: 500;
}

input[type="password"].password::-webkit-input-placeholder {
    color: pink;
    font-weight: 500;
}

input[type="text"].user-name::-moz-placeholder {
    color: pink;
    font-weight: 500;
}

input[type="password"].password::-moz-placeholder {
    color: pink;
    font-weight: 500;
}

input[type="password"].password:-ms-input-placeholder {
    color: pink;
    font-weight: 500;
}

input[type="text"].user-name:-ms-input-placeholder {
    color: pink;
    font-weight: 500;
}

form.login .btn-login {
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

    form.login .btn-login:hover {
        transition: background-color 0.5s ease;
    }

form.login .remember-forgot {
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
}


form.login label, form.login a {
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
}

form.login a {
    transition: color 1s ease;
}

    form.login a:hover {
        color: #2ecc71;
    }

.pr-wrap {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}

.carousel {
    width: 700px;
    height: 500px;
    align-content: stretch;
}

.carousel-item img {
    align-content: stretch;
    width: 100%;
    height: 100%;
}

.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 550px;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
    -webkit-transform: translate3d(-50%,-50%,0);
    -moz-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    -o-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}

.carousel-tag {
    color: darkslategrey;
    font-size: 48px;
}
